.home {
  display: flex;
  flex-direction: row;
  background-color: #f0f0f0;
  height: 100vh;

  .add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72vh;
    width: 100vw;

    .add-btn-item-new {
      height: 50px;
      width: 140px;
      font-size: 18px;
      border-radius: 6px;
    }
  }

  .left {
    width: 200px;
    height: 100vh;
    margin-right: 20px;
    background-color: #fff;
    padding-top: 40px;


    

    .leftmenu-div {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 20px;
      height: 58px;
      font-size: 18px;
      margin-top: 5px;


      &:hover {
        color: #369eff;
      }

      .icon-left {
        margin-right: 10px;
        margin-top: -4px;
      }
    }

    .selected {
      background-color: #e6f7ff;
    }
  }

  .detail {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 87%;


    .title {
      display: flex;
      flex-direction: row;
      // margin-left: 14vw;

      .right {
        margin-left: 40px;

        .item {
          margin-top: 10px;
        }
      }
    }

    .content-div {
      margin-left: 20vw;
      margin-top: 40px;
      margin-right: 20vw;

      .tab {
        // height: 700px;
        overflow-y: auto;
        width: 50vw;
      }

      .content {
        .swiper {
          padding-top: 10px;
          text-align: center;
          width: 900px;
          // height: 450px;
          background-color: #f5f5f5;
          --swiper-theme-color: #1890ff;
          --swiper-pagination-color: #00ff33;
        }

        .desc-div {
          margin-top: 40px;
          text-align: left;
        }
      }
    }
  }

  button.ant-btn.ant-btn-link {
    margin: 0px 0px !important;
    padding: 0px 0px !important;
  }



  .introduction {
    // width: 50vw;
    // background-color: #f5f5f5;
    padding: 20px 20px;


    .markDown {
      margin-top: 30px;

      .edit-btn {
        margin-left: 10px !important;
      }
    }
  }

  .setting {

    .ant-space.ant-space-horizontal.ant-space-align-center {
      display: none;
    }

    .control-item {
      height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      // .item-right {
      //   position: relative;
      //   // right: 10px;
      //   left: 30vw;
      // }
    }
  }
}

.appModal {
  .ant-space.ant-space-horizontal.ant-space-align-center {
    display: none;
  }
}

.addAppType {
  position: absolute;
  left: 14px;
  bottom: 30px;

  .type-btn-new {
    // font-weight: bold;
    font-size: 18px;
  }
}