.detail {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  flex-direction: column;

  .title {
    display: flex;
    flex-direction: row;
    margin-left: 20vw;

    .right {
      margin-left: 40px;

      .item {
        margin-top: 10px;
      }
    }
  }

  .content-div {
    margin-left: 20vw;
    margin-top: 40px;

    .tab {
      // height: 400px;
      width: 900px;
    }

    .content {
      .swiper {
        padding-top: 10px;
        text-align: center;
        width: 900px;
        height: 450px;
        background-color: #f5f5f5;
        --swiper-theme-color: #1890ff;
        --swiper-pagination-color: #00ff33;
      }

      .desc-div {
        margin-top: 40px;
        text-align: left;
      }
    }
  }
}